.vscode/
presentacion/
dia_presentacion/
entrevista/.~lock.notes
Formacion y orientacion laboral/FOL Tema 9 La busqueda de empleo.pptx
Programacion/Tema 1. Introduccion/
Programacion/Tema 2. Estructura de un programa informático/Tema2 Comentarios.mp4
Programacion/Tema 2. Estructura de un programa informático/Tema2 Operadores aritméticos.mp4
Programacion/Tema 2. Estructura de un programa informático/Tema2 Variables.mp4
Programacion/Tema 3. Estructuras de control/Tema3Estructura IF_1080p.mp4